<div class="carousel">
  <div class="carousel-track">
    <img src="https://cdn.simpleicons.org/apple" alt="Apple">
    <img src="https://cdn.simpleicons.org/sony" alt="Sony">
    <img src="https://cdn.simpleicons.org/playstation" alt="PlayStation">
    <img src="https://cdn.simpleicons.org/samsung" alt="Samsung">
    <img src="https://cdn.simpleicons.org/lg" alt="LG">
    <img src="https://cdn.simpleicons.org/xiaomi" alt="Xiaomi">
    <img src="https://cdn.simpleicons.org/motorola" alt="Xiaomi">
    <img src="https://cdn.simpleicons.org/apple" alt="Apple">
    <img src="https://cdn.simpleicons.org/sony" alt="Sony">
    <img src="https://cdn.simpleicons.org/playstation" alt="PlayStation">
    <img src="https://cdn.simpleicons.org/samsung" alt="Samsung">
    <img src="https://cdn.simpleicons.org/lg" alt="LG">
    <img src="https://cdn.simpleicons.org/xiaomi" alt="Xiaomi">
    <img src="https://cdn.simpleicons.org/motorola" alt="Xiaomi">


  </div>
</div>
    
    