<div class="productos-container">
  <div class="producto-card">
    <img src="<%= image_path 'iphone15.jpeg' %>" alt="Celulares">
    <h3>CELULARES</h3>
    <a href="#" class="ver-mas-btn">Ver más</a>
  </div>
  <div class="producto-card">
    <img src="<%= image_path 'macbook.jpeg' %>" alt="Computadoras">
    <h3>COMPUTADORAS</h3>
    <a href="#" class="ver-mas-btn">Ver más</a>
  </div>
  <div class="producto-card">
    <img src="<%= image_path 'phantom.jpeg' %>" alt="Perfumes">
    <h3>PERFUMES</h3>
    <a href="#" class="ver-mas-btn">Ver más</a>
  </div>
  <!-- Agrega más cards según sea necesario -->
</div>
