<div class="social-cards">
    <!-- Card de Instagram -->
    <div class="social-card instagram">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram Logo" class="social-logo">
        <a href="https://www.instagram.com/importadosdallas/" target="_blank" class="social-button">Síguenos en Instagram</a>
    </div>
    <!-- Card de Facebook -->
        <div class="social-card facebook">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook Logo" class="social-logo">
    <a href="https://facebook.com/tu_perfil" target="_blank" class="social-button">Síguenos en Facebook</a>
    </div>
    <!-- Card de Catálogo -->
    <div class="social-card catalogo">
        <img src="https://cdn-icons-png.flaticon.com/512/3144/3144456.png" alt="Catálogo Logo" class="social-logo">
        <a href="/catalogo" target="_blank" class="social-button">Visita Nuestro Catálogo</a>
    </div>
    <div class="social-card whatsapp">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="WhatsApp Logo" class="social-logo">
        <a href="https://wa.me/tu_numero" target="_blank" class="social-button">Contáctanos en WhatsApp</a>
    </div>
</div>