<div class="background-overlay"></div>
<%= render 'shared/header' %>

<div class="main-container">    
    <%= render 'shared/carrusel' %>
    <h1>Nuestros Productos</h1>
    
    <%= render 'shared/productos' %>
       
    <h1>Redes Sociales</h1>
    <p>¡Síguenos en nuestras redes para las mejores ofertas en celulares y artículos importados!</p>
    <%= render 'shared/socialCards' %>
    
     
</div> 



