/* app/assets/stylesheets/home.css */

/* Estilos del header */
.main-header {
  width: 100%;
  background: linear-gradient(135deg, #1C1C1C, #333333); /* Degradado oscuro */
  padding: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); /* Sombra más profunda */
  position: fixed;
  top: 0;
  z-index: 10;
}
  
  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-logo {
    font-size: 2em;
    font-weight: bold;
    color: #FFD700; /* Dorado brillante */
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    opacity: 0;
    animation: fadeInLogo 1s ease-out forwards;
  }
  
  @keyframes fadeInLogo {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .header-logo-icon {
    width: 40px; /* Tamaño del logo */
    height: 40px;
    transition: transform 0.3s ease;
    margin: 0px 25px 0px 25px;
  }
 


  .header-logo:hover {
    color: #FFF8DC; /* Dorado claro */
    transform: scale(1.05); /* Ligero agrandamiento */
  }
  
  /* Añadir margen superior al contenedor principal para evitar que el header lo cubra */
  .main-container {
    padding-top: 100px; /* Ajusta según la altura del header */
  }
  